drupal:
  root: "web"
  base_url: "http://web:8080/site-b/web"
  database:
    host: "mysql"
    port: "3306"
    name: "site_b"
    user: "root"
    password: ""
  site:
    profile: "config_installer"
    name: "Site B"
  pre_install:
    - { task: "chmod", permissions: 0775, file: "${drupal.root}/sites/default" }
    - { task: "touch", file: "${drupal.root}/sites/default/settings.php" }
    - { task: "chmod", permissions: 0664, file: "${drupal.root}/sites/default/settings.php" }
    - { task: "remove", file: "${drupal.root}/sites/default/settings.php" }
  settings:
    config_directories:
      sync: '../config/sync'

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
