default:
  suites:
    default:
      contexts:
      - Behat\MinkExtension\Context\MinkContext
      - Ec\Europa\EuropaDemo\Behat\MinkContext
      - Ec\Europa\EuropaDemo\Behat\SitesMinkContext:
          sites:
            inea:
              base_url: "${web.base_url}/sites/inea/web"
            info:
              base_url: "${web.base_url}/sites/info/web"
            energy:
              base_url: "${web.base_url}/sites/energy/web"
      - Ec\Europa\EuropaDemo\Behat\RdfExternalContext:
          # @todo port this to TransformationContext as soon as issue below is fixed.
          # @link https://webgate.ec.europa.eu/CITnet/jira/browse/OPENEUROPA-1224
          path_mappings: &rdf-path-mappings
            'Over €300 million available now to energy projects': 'http_e_f_flocalhost_e8080_fsites_finea_fweb_frdf_aentity_foe_aannouncement_f2236b3d4_bb988_b4614_ba093_b920ba4633b97'
            'EU-funded researchers set a new energy efficiency record for solar cells': 'http_e_f_flocalhost_e8080_fsites_finea_fweb_frdf_aentity_foe_aannouncement_f26f49f73_bb0b4_b4c84_b9606_ba0e3f678cd14'
            "Spain's first self-installing offshore wind turbine arrives to the Canary Islands": 'http_e_f_flocalhost_e8080_fsites_finea_fweb_frdf_aentity_foe_aannouncement_f36f2e2a8_bf517_b4277_b901c_b1648de2c8363'
            'Directorate-General for Environment': 'http_e_f_flocalhost_e8080_fsites_finfo_fweb_frdf_aentity_foe_adepartment_f02b660ea_b22af_b48e3_bbb62_bfead0269d1f6'
            'Innovation and Networks Executive Agency': 'http_e_f_flocalhost_e8080_fsites_finfo_fweb_frdf_aentity_foe_adepartment_f587c717e_bcf1f_b4c74_b9b58_bd00bf04897d7'
            'Directorate-General for Energy': 'http_e_f_flocalhost_e8080_fsites_finfo_fweb_frdf_aentity_foe_adepartment_f9d5ebd97_b408a_b4b85_bb177_bb691abcdf6ba'
            'Horizon 2020 Energy info day': 'http_e_f_flocalhost_e8080_fsites_finea_fweb_frdf_aentity_foe_aevent_f5b829070_bbd2b_b4caa_b828c_b43342432b51a'
            'EU Sustainable Energy Week (EUSEW) 2018': 'http_e_f_flocalhost_e8080_fsites_finea_fweb_frdf_aentity_foe_aevent_f8753edac_bf3b9_b45a7_b8c9f_b38ce9134f608'
            'Financing Energy Efficiency in Malta and Italy': 'http_e_f_flocalhost_e8080_fsites_finfo_fweb_frdf_aentity_foe_aevent_fae827102_b2beb_b4338_b943e_b80f56358a6bf'
            'EU Energy Day at COP24, COP24 EU Pavilion': 'http_e_f_flocalhost_e8080_fsites_finfo_fweb_frdf_aentity_foe_aevent_fd9a9d634_b13ac_b493f_bbc18_b7b750b9698ed'
            'EU Green Week 2019': 'http_e_f_flocalhost_e8080_fsites_finfo_fweb_frdf_aentity_foe_aevent_fe424d10b_be8bc_b49c9_ba9d1_bf64511d73e6f'
            'Horizon 2020 Transport virtual info day': 'http_e_f_flocalhost_e8080_fsites_finea_fweb_frdf_aentity_foe_aevent_ff8115b40_b12d7_b4c6d_bae4e_b0b9538a9bfc4'
      - OpenEuropa\Behat\TransformationContext:
          elements:
            header title: '.ecl-page-header h1'
          pages:
            news: "/en/news"
            events: "/en/events"
            front: "/en"
      filters: { tags: "@sites-all" }
  extensions:
    Behat\MinkExtension:
      goutte: ~
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      selenium2: &slenium-settings
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "chrome", "version": "*" }
      base_url: "${web.base_url}"
  formatters:
    progress: ~

site:
  suites:
    default:
      contexts: &site-contexts
      - Drupal\DrupalExtension\Context\DrupalContext
      - Drupal\DrupalExtension\Context\MarkupContext
      - Drupal\DrupalExtension\Context\MessageContext
      - Ec\Europa\EuropaDemo\Behat\DrupalContext
      - Ec\Europa\EuropaDemo\Behat\DrupalMinkContext
      - Ec\Europa\EuropaDemo\Behat\MinkContext
      - Ec\Europa\EuropaDemo\Behat\RdfEntityContext
      - OpenEuropa\Behat\TransformationContext:
          elements:
            about dropdown menu: "#nav-menu-expandable-group-2 .ecl-navigation-menu__links"
            banner title: ".ecl-banner__title"
            breadcrumb: "nav.ecl-breadcrumb"
            corporate top block: ".demo-block-footer-corporate-top"
            corporate bottom block: ".demo-block-footer-corporate-bottom"
            custom block: ".demo-block-footer-custom"
            hero: ".page-header__hero-title"
            language switcher: ".ecl-language-list"
            language switcher overlay: ".ecl-dialog__body"
            language switcher link: ".ecl-lang-select-sites__link .ecl-lang-select-sites__label"
            logo: "a.ecl-logo"
            page header: ".ecl-page-header"
            priorities dropdown menu: "#nav-menu-expandable-group-3 .ecl-navigation-menu__links"
            sites switcher: ".demo-block-site-switcher"
            search box: ".demo-block-header-search"
          pages:
            create Landing: "/en/node/add/landing_page"
            ECL components overview: "/en/components"
            front: "/en/node/1"
            jobs growth and investment: "/en/commission/priorities/jobs-growth-and-investment"
            priorities: "/en/commission/priorities"
            non-existing: "/non-existing"
            administrative: "/en/admin"
            RDF content administration: "/en/admin/content/rdf"
            login: "/en/user/login"
            logout: "/en/user/logout"
      - Ec\Europa\EuropaDemo\Behat\RdfExternalContext:
          # @todo port this to TransformationContext as soon as issue below is fixed.
          # @link https://webgate.ec.europa.eu/CITnet/jira/browse/OPENEUROPA-1224
          path_mappings: *rdf-path-mappings
  extensions:
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: ~
      region_map: &drupal-region-map
        banner: ".ecl-banner"
        breadcrumb: "nav.ecl-breadcrumb"
        custom footer: ".ecl-footer__custom"
        corporate top footer: ".ecl-footer__corporate-top"
        corporate bottom footer: ".ecl-footer__corporate-bottom"
        header: ".ecl-site-header"
        message: ".ecl-message"
        navigation: ".ecl-navigation-menu"
        page: "body"
        page header: ".ecl-page-header"
        content: "section.main-content"
        language switcher: ".ecl-language-list .ecl-dialog"
        language dialog: ".ecl-dialog"
      selectors: &drupal-selectors
        success_message_selector: ".ecl-message--success"
    FriendsOfBehat\ServiceContainerExtension: &service-container-extension
      imports:
      - "./behat.services.yml"

inea:
  suites:
    default:
      contexts: *site-contexts
      filters: { tags: "@site-inea" }
  extensions:
    Behat\MinkExtension:
      goutte: ~
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      selenium2: *slenium-settings
      base_url: "${web.base_url}/sites/inea/web"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "sites/inea/web"
      region_map: *drupal-region-map
      selectors: *drupal-selectors
    FriendsOfBehat\ServiceContainerExtension: *service-container-extension

energy:
  suites:
    default:
      contexts: *site-contexts
      filters: { tags: "@site-energy" }
  extensions:
    Behat\MinkExtension:
      goutte: ~
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      selenium2: *slenium-settings
      base_url: "${web.base_url}/sites/energy/web"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "sites/energy/web"
      region_map: *drupal-region-map
      selectors: *drupal-selectors
    FriendsOfBehat\ServiceContainerExtension: *service-container-extension

info:
  suites:
    default:
      contexts: *site-contexts
      filters: { tags: "@site-info" }
  extensions:
    Behat\MinkExtension:
      goutte: ~
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      selenium2: *slenium-settings
      base_url: "${web.base_url}/sites/info/web"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "sites/info/web"
      region_map: *drupal-region-map
      selectors: *drupal-selectors
    FriendsOfBehat\ServiceContainerExtension: *service-container-extension
