imports:
- { resource: vendor/openeuropa/code-review/dist/drupal-conventions.yml }

parameters:
  tasks.phpcs.ignore_patterns:
  - sites/rtd/vendor
  - sites/rtd/web/.ht.router.php
  - sites/rtd/web/autoload.php
  - sites/rtd/web/index.php
  - sites/rtd/web/update.php
  - sites/rtd/web/core
  - sites/rtd/web/sites
  - sites/rtd/web/modules/contrib/
  - sites/rtd/web/themes/contrib/
  - sites/rtd/web/profiles/contrib/
  - sites/rtd/web/libraries/
  - sites/inea/vendor
  - sites/inea/web/.ht.router.php
  - sites/inea/web/autoload.php
  - sites/inea/web/index.php
  - sites/inea/web/update.php
  - sites/inea/web/core
  - sites/inea/web/sites
  - sites/inea/web/modules/contrib/
  - sites/inea/web/themes/contrib/
  - sites/inea/web/profiles/contrib/
  - sites/inea/web/libraries/
  - sites/energy/vendor
  - sites/energy/web/.ht.router.php
  - sites/energy/web/autoload.php
  - sites/energy/web/index.php
  - sites/energy/web/update.php
  - sites/energy/web/core
  - sites/energy/web/sites
  - sites/energy/web/modules/contrib/
  - sites/energy/web/themes/contrib/
  - sites/energy/web/profiles/contrib/
  - sites/energy/web/libraries/

  tasks.phpcs.triggered_by:
  - php
  - module
  - inc
  - theme
  - install

  extra_tasks:
    phpparser:
      ignore_patterns: "%tasks.phpcs.ignore_patterns%"
      visitors:
        declare_strict_types: ~
      triggered_by: "%tasks.phpcs.triggered_by%"

  extensions:
  - OpenEuropa\CodeReview\ExtraTasksExtension
