behat:
  base_url: "http://web:8080"

authentication:
  server:
    base_url: "http://authentication:8001"

selenium:
  host: "http://selenium"
  port: "4444"

commands:
  drupal:demo-composer-install:
  - "composer --working-dir=sites/agri install"
  - "composer --working-dir=sites/energy install"
  - "composer --working-dir=sites/rtd install"
  drupal:demo-composer-update:
  - "composer --working-dir=sites/agri update"
  - "composer --working-dir=sites/energy update"
  - "composer --working-dir=sites/rtd update"
  drupal:demo-composer-drupal-scaffold:
  - "composer --working-dir=sites/agri drupal:scaffold"
  - "composer --working-dir=sites/energy drupal:scaffold"
  - "composer --working-dir=sites/rtd drupal:scaffold"
  drupal:demo-setup:
  - "./vendor/bin/run --working-dir='${runner.working_dir}/sites/agri' drupal:site-setup"
  - "./vendor/bin/run --working-dir='${runner.working_dir}/sites/energy' drupal:site-setup"
  - "./vendor/bin/run --working-dir='${runner.working_dir}/sites/rtd' drupal:site-setup"
  drupal:demo-install:
  - "./vendor/bin/run --working-dir='${runner.working_dir}/sites/agri' drupal:site-install"
  - "./vendor/bin/run --working-dir='${runner.working_dir}/sites/energy' drupal:site-install"
  - "./vendor/bin/run --working-dir='${runner.working_dir}/sites/rtd' drupal:site-install"
  setup:behat:
  - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
