{#
/**
 * @file
 * Default theme implementation to display the site banner block.
 */
#}
<div{{ attributes.addClass(['page-header', 'page-header--image']) }}>
  <div class="container-fluid page-header__hero-title">
    <div class="row padding-reset">
      <div class="col-lg-9 ">
        <div class="field field-name-field-core-introduction field--field-core-introduction">
          <div class="field__label field__label--above">{{ 'Highlight'|t }}</div>
          <div class="field__items"><p>{{ link }}</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
