drupal:
  root: "web"
  base_url: "http://web:8080/site-agri/web"
  database:
    host: "mysql"
    port: "3306"
    name: "agri"
    user: "root"
    password: ""
  site:
    profile: "config_installer"
    name: "Site AGRI"
  pre_install:
    - { task: "chmod", permissions: 0775, file: "${drupal.root}/sites/default" }
    - { task: "touch", file: "${drupal.root}/sites/default/settings.php" }
    - { task: "chmod", permissions: 0664, file: "${drupal.root}/sites/default/settings.php" }
    - { task: "remove", file: "${drupal.root}/sites/default/settings.php" }
  post_install:
  - { task: "chmod", permissions: 0775, file: "${drupal.root}/sites/default" }
  - { task: "chmod", permissions: 0664, file: "${drupal.root}/sites/default/settings.php" }
  # OpenEuropa Profile overrides some configuration values in its hook_install(), so we re-run configuration import.
  # @todo: Fix this.
  - "./vendor/bin/drush cim -y"
  - "./vendor/bin/drush en europa_demo_content -y"
  - "./vendor/bin/drush cr"
  settings:
    config_directories:
      sync: '../config/sync'

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
