drupal:
  root: "web"
  base_url: "${web.base_url}/sites/agri/web"
  database:
    host: "mysql"
    port: "3306"
    name: "agri"
    user: "root"
    password: ""
  site:
    profile: "oe_profile"
    name: "Site AGRI"
    config_dir: "${drupal.config_dir}"
  pre_install:
  - { task: "chmod", permissions: 0775, file: "${drupal.root}/sites/default" }
  - { task: "chmod", permissions: 0664, file: "${drupal.root}/sites/default/settings.php" }
  post_install:
  - { task: "chmod", permissions: 0775, file: "${drupal.root}/sites/default" }
  - { task: "chmod", permissions: 0664, file: "${drupal.root}/sites/default/settings.php" }
  - "./vendor/bin/drush cr"
  settings:
    config_directories:
      sync: "${drupal.config_dir}"
    databases:
      sparql_default:
        default:
          prefix: ""
          host: "${sparql.host}"
          port: "${sparql.port}"
          namespace: 'Drupal\Driver\Database\sparql'
          driver: 'sparql'
commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "process-php", type: "append", config: "drupal.settings", source: "${drupal.root}/sites/default/default.settings.php", destination: "${drupal.root}/sites/default/settings.php" }
