{#
/**
 * @file
 * Site ribbon template.
 */
#}

<div class="europa-demo-ribbon europa-demo-ribbon__{{ name|clean_class }}">
  <div class="europa-demo-ribbon__content">
    {{ name }}
  </div>
</div>
