{#
/**
 * @file
 * Theme override to display the 'list item block' type paragraph.
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}
<div class="ecl-u-mb-xxl">
  {% include '@oe_theme/paragraphs/paragraph--oe-list-item-block.html.twig' %}
</div>
